@model DAL.Group

@{
    ViewBag.Title = "Delete";
}
<h3 class="text-danger">شما از حذف این گروه مطمیین هستید؟</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName) :
            @Html.DisplayFor(model => model.GroupName)

        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Visit) :
            @Html.DisplayFor(model => model.Visit)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Score) :
            @Html.DisplayFor(model => model.Score)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate) :
            @Html.DisplayFor(model => model.CreateDate)
        </dt>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger w-100" />
        </div>
    }
</div>
