@model DAL.PlayList

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-danger">حذف اطلاعات</h2>
<h5>آیا از حذف اطلاعات مورد نظر مطمیین هستید؟</h5>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GrouptType.groupName) :
            @Html.DisplayFor(model => model.GrouptType.groupName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Description) :
            @Html.DisplayFor(model => model.Description)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PlayCount) :
            @Html.DisplayFor(model => model.PlayCount)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate) :
            @Html.DisplayFor(model => model.CreateDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Type) :
            @Html.DisplayFor(model => model.Type)
        </dt>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger w-100" />
        </div>
    }
</div>
