@model DAL.PlayList

@{
    ViewBag.Title = "Details";
}

<h2>نمایش اطلاعات</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GrouptType.groupName) :
            @Html.DisplayFor(model => model.GrouptType.groupName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Description) :
            @Html.DisplayFor(model => model.Description)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PlayCount) :
            @Html.DisplayFor(model => model.PlayCount)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate) :
            @Html.DisplayFor(model => model.CreateDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Type) :
            @Html.DisplayFor(model => model.Type)
        </dt>
        @Html.ActionLink("Edit", "Edit", new { id = Model.playListId },new {@class="btn btn-info w-100 mt-3"})
    </dl>
</div>
