@model DAL.PlayList

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "PlayLists", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.playListId)
    @Html.HiddenFor(model => model.Picture)

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.PlayListName, htmlAttributes: new { @class = "lbl control-label col-3 text-center mt-1" })
        <div class="col-9">
            @Html.EditorFor(model => model.PlayListName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PlayListName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "lbl control-label col-2 text-center mt-1" })
        <div class="col-10">
            @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "lbl control-label col-3 text-center mt-1" })
        <div class="col-9">
            <input name="photo" type="file" class="form-control" />
            @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group d-flex flex-row mt-1">
        <div class="col-12">
            <img src="~/Files/Photos/@Model.Picture" class="img-fluid shadow rounded-2" />
        </div>
    </div>

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "lbl control-label col-3 text-center mt-1" })
        <div class="col-9">
            <div class="checkbox mt-2">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group d-flex flex-row my-1">
        <div class="col-12">
            <input type="submit" value="ویرایش" class="btn btn-warning w-100" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
