@model IEnumerable<DAL.PlayList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="my-2 shadow p-3 pe-5 px-5">نمایش تمام پلی لیست ها</h2>
    <button class="btn btn-light w-25 my-2" id="CreatePlayList">ایجاد پلی لیست جدید</button>
    <table class="table table-hover text-center">
        <tr class="py-1" style="background: linear-gradient(270deg,#4900c1,#9044ff); color: #ffffff; ">
            <th>
                @Html.DisplayNameFor(model => model.GrouptType.groupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GrouptType.groupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a class="btn btn-warning" onclick="EditPlayLists(@item.playListId)">
                        ویرایش<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-info" onclick="DetailPlayLists(@item.playListId)">
                        نمایش<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" onclick="DeletePlayLists(@item.playListId)">
                        حذف<i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
