@model IEnumerable<DAL.PlayList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="my-2 shadow p-3 pe-5 px-5">نمایش تمام پلی لیست ها</h2>
    <button class="btn btn-light w-25 my-2" id="CreatePlayList">ایجاد پلی لیست جدید</button>
    <a href="@Url.Action("ShowPlayListSongs","PlayLists")" class="col-sm-10 col-md-6 btn btn-primary mt-1">نمایش همه پلی لیست ها با آهنگ های</a>
    <table class="table table-hover text-center">
        <tr class="py-1" style="background: linear-gradient(270deg,#ff4e00,#ffd800); color: #000000; ">
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Files/Photos/@item.Picture" class="img-fluid shadow rounded-1" style="height:50px; width:50px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayListName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a class="btn btn-warning" onclick="EditPlayLists(@item.playListId)">
                        ویرایش<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-info" onclick="DetailPlayLists(@item.playListId)">
                        نمایش<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" onclick="DeletePlayLists(@item.playListId)">
                        حذف<i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
