@model DAL.User
<div class="container-fluid d-flex flex-column justify-content-between">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-between">
            <a class="user-panel-item mt-1">اطلاعات شخصی</a>
            <a class="user-panel-item mt-1">@Model.Name @Model.Family</a>
            <a class="user-panel-item mt-1">سبد سفارش</a>
        </div>
    </div>
    <div class="row mt-3" id="panel-body">
        @Html.Action("UserPanelAside", "LoginUser", new {id=Model.userId})
        <div id="user-panel-body" class="col-8">
            @Html.Action("UserPanelSlider", "LoginUser", new { id = Model.userId })
            @Html.Action("UserPanelBodyShowInfo", "LoginUser", new { id = Model.userId })
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Bundles/jqueryval")
}