@model DAL.User
<div class="container-fluid d-flex flex-column justify-content-between">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-between">
            <span class="user-panel-item mt-1" onclick="ShowInfomation(@Model.userId)">اطلاعات شخصی</span>
            <span class="user-panel-item mt-1">@Model.Name @Model.Family</span>
            <span class="user-panel-item mt-1" onclick="ShowCard(@Model.userId)">سبد سفارش</span>
        </div>
    </div>
    <div class="row mt-3" id="panel-body">
        @Html.Action("UserPanelAside", "LoginUser", new {id=Model.userId})
        <div id="user-panel-body" class="col-8">
            @Html.Action("UserPanelSlider", "LoginUser", new { id = Model.userId })
            <div id="bodyPanelSwitch">
                @Html.Action("UserPanelBodyShowInfo", "LoginUser", new { id = Model.userId })
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/Bundles/jqueryval")
}