@model IEnumerable<DAL.ViewModels.ViewModelSongs>

<div class="col-sm-12 col-md-2 p-3">
    <div class="bg-dark bg-gradient text-light p-2 rounded-2 overflow-auto" style="height: 550px;">
        <h6 class="bg-warning text-dark bg-gradient p-1 rounded-5 sticky-top">پربازدیدترین های تاپ صدا</h6>
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item-list" data-id="@item.SongId" data-file="@item.AddressFile" data-photo="@item.Picture">
                    <a class="d-flex flex-row justify-content-between" href="@Url.Action("Index","Home",new {id=item.SongId})">
                        <span class="song-list-play">@item.SongName</span>
                        <span class="singer-list-play">@item.SingerName</span>
                        <span class="Album-list-play">@item.AlbumName</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
