@model DAL.Album

@{
    ViewBag.Title = "Details";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Singer.SingerName) :
            @Html.DisplayFor(model => model.Singer.SingerName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumName) :
            @Html.DisplayFor(model => model.AlbumName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Visit) :
            @Html.DisplayFor(model => model.Visit)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Score) :
            @Html.DisplayFor(model => model.Score)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Type) :
            @Html.DisplayFor(model => model.Type)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate) :
            @Html.DisplayFor(model => model.CreateDate)
        </dt>
        <dt>
            <img src="~/Files/Photos/@Model.Picture" class="img-fluid shadow rounded-2"/>
        </dt>
    </dl>
</div>
