@model DAL.Album

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AlbumId)
    @Html.HiddenFor(model => model.Picture)

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.SingerId, htmlAttributes: new { @class = "lbl control-label col-2 text-center mt-1" })
        <div class="col-10">
            @Html.DropDownList("SingerId", null,htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SingerId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.AlbumName, htmlAttributes: new { @class = "lbl control-label col-2 text-center mt-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AlbumName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AlbumName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "lbl control-label col-2 text-center mt-1" })
        <div class="col-md-10 text-center">
            <div class="checkbox">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "lbl control-label col-2 text-center mt-1" })
        <div class="col-10 text-center">
            <div class="checkbox">
                <input name="photo" class="form-control" type="file" />
                @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group d-flex flex-row mt-1">
        <div class="col-12 text-center">
            <img src="~/Files/Photos/@Model.Picture" class="img-fluid shadow rounded-2"/>
        </div>
    </div>

    <div class="form-group mt-2">
        <input type="submit" value="ویرایش" class="btn btn-warning w-100" />
    </div>
</div>
}
