@model IEnumerable<DAL.Album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="my-2 shadow p-3 pe-5 px-5">نمایش تمام آلبوم ها</h2>
    <a class="btn btn-light my-2" id="Create-Album">ایجاد آلبوم</a>
    <table class="table table-hover text-center">
        <tr class="py-1" style="background: linear-gradient(270deg,#ff4e00,#ffd800); color: #000000; ">
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Singer.SingerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>
                    <img src="~/Files/Photos/@item.Picture" class="img-fluid rounded-1 shadow" style="height: 100px; width: 100px;" />
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Singer.SingerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <a class="btn btn-warning" onclick="EditAlbum(@item.AlbumId)">
                        ویرایش<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-info" onclick="DetailsAlbum(@item.AlbumId)">
                        نمایش<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" onclick="DeleteAlbum(@item.AlbumId)">
                        حذف<i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
    </div>
