@model DAL.ViewModels.ViewSong

<div id="Player">
    <div class=" d-flex flex-column justify-content-start align-items-center">
        <img src="~/Files/Photos/@Model.Picture" class="shadow" id="header-img" />
        <div class="my-5 text-dark">
            <h6>@Model.SingerName</h6>
            <h5>@Model.SongName</h5>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center w-100 mt-3">
            <span id="endTime" class="text-light" style="font-size: 14px;">00:00</span>
            <span id="durTime" class="text-light" style="font-size: 14px;">00:00</span>
        </div>
        <div id="Progress-Container">
            <div id="Progress"></div>
            <audio id="audioIndex" src="~/Files/Musics/@Model.AddressFile"></audio>
        </div>
        <div id="Controller-Container" class="m-2 px-2 d-flex flex-row justify-content-around align-items-center w-100">
            <i class="fa fa-step-forward header-music-controller"></i>
            <i onclick="Stop()" class="fa fa-stop header-music-controller"></i>
            <i onclick="Play()" id="PlayBtn" class="fa fa-play header-music-controller"></i>
            <i class="fa fa-step-backward header-music-controller"></i>
        </div>
        <div>
            <div>
                <i onclick="AddScore(@Model.SongId,1)" class="fa fa-heart" style="font-size:10px;"></i>
                <i onclick="AddScore(@Model.SongId,2)" class="fa fa-heart" style="font-size:12px;"></i>
                <i onclick="AddScore(@Model.SongId,3)" class="fa fa-heart" style="font-size:14px;"></i>
                <i onclick="AddScore(@Model.SongId,4)" class="fa fa-heart" style="font-size:16px;"></i>
                <i onclick="AddScore(@Model.SongId,5)" class="fa fa-heart" style="font-size:18px;"></i>
            </div>
        </div>
        @{
            int score = (Model.Score * 100) / (Model.Visit * 5);
        }
        <div id="SetInfo" class="d-flex flex-row justify-content-between align-items-center w-100">
            <div>
                <div data-score="@Model.Score" class="" style="width: @(score)% !important; overflow-x: hidden;">
                    <div class="d-flex flex-row justify-content-start align-items-center my-3">
                        <i class="fa fa-star" style="font-size: 1.3rem;"></i>
                        <i class="fa fa-star" style="font-size: 1.5rem;"></i>
                        <i class="fa fa-star" style="font-size: 1.6rem;"></i>
                        <i class="fa fa-star" style="font-size: 1.8rem;"></i>
                        <i class="fa fa-star" style="font-size: 2rem;"></i>
                   </div>
                </div>                
            </div>
            
            <button class="btn btn-warning text-dark" onclick="OpenComment(@Model.SongId)"><i class="fa fa-comment" style="font-size: 2rem;"></i></button>
        </div>
    </div>
</div>

