@model IEnumerable<DAL.SongSearch>
<div class="container-fluid">
    <div class="d-flex flex-row justify-content-center bg-black bg-gradient text-warning p-1 sticky-top">
        <span>تعداد نتایج یافت شده : @Model.Count()</span>
    </div>
    <ul class="list-group d-flex flex-row flex-wrap justify-content-around">

        @foreach (var item in Model)
        {
            <li class="search-Item">
                <a class="list-group-item-list d-flex flex-column flex-wrap justify-content-between" href="@Url.Action("PlaySong","Section",new {id=item.SongId})">
                    <img src="~/Files/Photos/@item.Picture" class="img-fluid rounded-2 shadow" style="height: 100px;" />
                    <span class="mt-1 bg-dark bg-gradient text-warning rounded-1 py-1">@item.SingerName</span>
                    <span>@item.AlbumName</span>
                    <span class="mt-1 bg-warning bg-gradient text-dark rounded-1 py-1">@item.SongName</span>
                </a>
            </li>
        }
    </ul>
</div>
