<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/myStyle/style.css">

    <title>Music Site: Index</title>
</head>
<body dir="rtl">
    <!-- Start Modal -->
    <div id="modal-container" class="d-none">
        <div id="modal">
            <div id="modal-header" class="d-flex flex-row justify-content-between">
                <span id="modal-header-site" style="margin: 13px;">نام سایت</span>
                <span id="modal-header-title" style="margin: 13px;">عنوان</span>
                <span style="margin: 10px;"><i class="fa fa-close fa-2x"></i></span>
            </div>
            <div id="modal-body"></div>
        </div>
    </div>
    <!-- End Modal -->

    @Html.Action("UserPanel", "Home")
    @Html.Action("NavPanel", "Home")
    <!-- Start Index Page -->
    <div class="container-fluid">
        <div id="header-row1" class="row">


            @Html.Action("MostTopSongs", "Home")

            @RenderBody()

            <div class="col-sm-12 col-md-4 h-100 ">
                @Html.Action("Player", "Home")
            </div>
            @Html.Action("PlayLastSingleSong", "Home")
            @Html.Action("MostTopAlbums", "Home")

        </div>
    </div>
    <!-- End Index Page -->

    @Html.Action("Footer", "Home")
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Scripts/Scripts.js" async></script>
    <script src="~/Scripts/Scripts/Comments.js" async></script>
    <script src="~/Scripts/Scripts/PlayAjax.js" async></script>

    @RenderSection("Scripts", required: false)
</body>
</html>