@model DAL.Song

@{
    ViewBag.Title = "Delete";
}

<h5 class="text-danger">آیا برای حذف این مورد مطمیین هستید؟</h5>
<hr /> 

<div>
    <dl class="dl-horizontal">
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Album.Singer.Country.CountryName) :
            @Html.DisplayFor(model => model.Album.Singer.Country.CountryName)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Group.GroupName) :
            @Html.DisplayFor(model => model.Group.GroupName)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Album.AlbumName) :
            @Html.DisplayFor(model => model.Album.AlbumName)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Album.Singer.SingerName) :
            @Html.DisplayFor(model => model.Album.Singer.SingerName)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.SongName) :
            @Html.DisplayFor(model => model.SongName)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Visit) :
            @Html.DisplayFor(model => model.Visit)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Score) :
            @Html.DisplayFor(model => model.Score)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.CreateDate) :
            @Html.DisplayFor(model => model.CreateDate)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Type) :
            @Html.DisplayFor(model => model.Type)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Remix) :
            @Html.DisplayFor(model => model.Remix)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.AddressFile) :
            @Html.DisplayFor(model => model.AddressFile)
        </dt>
        <dt class="my-1">
            @Html.DisplayNameFor(model => model.Score) :
            @Html.DisplayFor(model => model.Score)
        </dt>

        <dt class="my-1">
            <img src="~/Files/Photos/@Model.Picture" class="img-fluid shadow rounded-3" />
        </dt>
    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color d-flex flex-column align-items-center justify-content-center">
        <input type="submit" value="حذف" class="btn btn-danger w-100 my-3" />
    </div>
}
</div>
