@model IEnumerable<DAL.Song>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="index-admin" class="d-flex flex-column justify-content-center align-items-center ">
    <h2 class="my-2 shadow p-3 pe-5 px-5">کنترل آهنگها</h2>
    <a href="@Url.Action("Create","Songs")" id="Create-Song" class="btn btn-light w-25 my-2">ایجاد آهنگ جدید</a>
    <table class="table table-hover text-center" style="cursor: pointer;">
        <tr class="py-1" style="background: linear-gradient(270deg,#4900c1,#9044ff); color: #ffffff; ">
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Singer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Files/Photos/@item.Picture" class="img-fluid shadow" style="max-width:100px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Singer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Songs",new {id =item.songId})" class="btn btn-warning">
                        ویرایش
                    </a>
                    <a class="btn btn-info" onclick="DetailSong(@item.songId)">
                        نمایش
                    </a>
                    <a class="btn btn-danger" onclick="DeleteSong(@item.songId)">
                        حذف
                    </a>
                </td>
            </tr>
        }

    </table>

</div>