@model IEnumerable<DAL.Song>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="index-admin" class="d-flex flex-column justify-content-center align-items-center ">
    <h2 class="my-2 shadow p-3 pe-5 px-5">کنترل آهنگها</h2>
    <a href="@Url.Action("Create","Songs")" id="Create-Song" class="btn btn-light mb-4 w-25">جدید</a>
    <table class="table table-hover text-center" style="cursor: pointer;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Singer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Files/Photos/@item.Picture" class="img-fluid shadow" style="max-width:100px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Singer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    <a href="@Url.Action("Edit","PlayLists",new {id =item.songId})" class="btn btn-warning" >
                        Edit<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="@Url.Action("Details","PlayLists",new {id =item.songId})" class="btn btn-info">
                        Details<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="@Url.Action("Delete","PlayLists",new {id =item.songId})" class="btn btn-danger">
                        Delete<i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>