@model IEnumerable<DAL.Song>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="index-admin" class="d-flex flex-column justify-content-center align-items-center ">
    <h2 class="my-2 shadow p-3 pe-5 px-5">کنترل آهنگها</h2>
    <a href="@Url.Action("Create","Songs")" id="Create-Song" class="btn btn-light w-25 my-2">ایجاد آهنگ جدید</a>
    <table class="table table-hover text-center" style="cursor: pointer;">
        <tr class="py-1" style="background: linear-gradient(270deg,#ff4e00,#ffd800); color: #000000; ">
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album.Singer.Country.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album.AlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album.Singer.SingerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                تعداد کامنت ها
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="fw-bold">
                <td>
                    <img src="~/Files/Photos/@item.Picture" class="img-fluid shadow" style="max-width:100px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.Singer.Country.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.Singer.SingerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @if (item.Type)
                    {
                        @("ویژه")
                    }
                    else
                    {
                        @("عادی")
                    }
                </td>
                <td>
                    @if (item.TypeSong)
                    {
                        @("آهنگ")
                    }
                    else
                    {
                        @("پادکست")
                    }
                </td>
                <td>
                    @if (item.Remix)
                    {
                        @("ریمیکس")
                    }
                    else
                    {
                        @("ساده")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments.Count)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Songs",new {id =item.SongId})" class="btn btn-warning">
                        ویرایش
                    </a>
                    <a class="btn btn-info" onclick="DetailSong(@item.SongId)">
                        نمایش
                    </a>
                    <a class="btn btn-danger" onclick="DeleteSong(@item.SongId)">
                        حذف
                    </a>
                </td>
            </tr>
        }

    </table>

</div>