@model IEnumerable<DAL.GrouptType>

@{
    ViewBag.Title = "خانه";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="index-admin" class="d-flex flex-column justify-content-center align-items-center ">
    <h2 class="my-2 shadow p-3 pe-5 px-5">کنترل گروه ها</h2>

    <hr />
    <button id="Create-Group" class="btn btn-light mb-4 w-25">Create</button>
    <table class="table table-hover text-center" style="cursor: pointer;">
        <tr class="" style="background: linear-gradient(270deg,#4900c1,#9044ff); color: #ffffff; ">
            <th>
                @Html.DisplayNameFor(model => model.groupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.groupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.visit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a class="btn btn-warning" onclick="EditGroup(@item.GroupId)">
                        Edit<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-info" onclick="DetailsGroup(@item.GroupId)">
                        Details<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" onclick="DeleteGroup(@item.GroupId)">
                        Delete<i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>