@model IEnumerable<DAL.GrouptType>

@{
    ViewBag.Title = "خانه";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="index-admin" class="d-flex flex-column justify-content-center align-items-center ">
    <h2 class="my-2 shadow p-3 pe-5 px-5">کنترل گروه ها</h2>
    <button id="Create-Group" class="btn btn-light w-25 my-2">ایجاد گروه جدید</button>
    <table class="table table-hover text-center" style="cursor: pointer;">
        <tr class="py-1" style="background: linear-gradient(270deg,#4900c1,#9044ff); color: #ffffff; ">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="fw-bolder">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.visit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <a class="btn btn-warning" onclick="EditGroup(@item.GroupId)">
                        ویرایش<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-info" onclick="DetailsGroup(@item.GroupId)">
                        نمایش<i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" onclick="DeleteGroup(@item.GroupId)">
                        حذف<i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>