<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - layout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/myStyle/Admin_Style.css" rel="stylesheet" />
</head>
<body dir="rtl">

    <nav id="navTop">
        <div class="d-flex flex-row justify-content-between bg-dark text-light text-center p-3">
            <h1 id="header-h1">پنل مدیریت کنترل محتوا</h1>
            <div id="search-container-nav" class="d-flex flex-row justify-content-between align-items-center">
                <input class="p-2" id="search-input-nav" placeholder="جستجو کنید ..." />
                <span><i id="search-icon-nav" class="fa fa-search"></i></span>
            </div>
        </div>
    </nav>

    <aside id="aside-panel" class="col-12 pt-5 close">
        <ul id="aside-list" class="p-3 list-group d-flex flex-sm-column flex-md-row  justify-content-evenly align-items-center flex-wrap">
            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","Admins")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/Admin.png" class="img-fluid" style="max-width: 150px;" />
                        <p class="title-item">ادمین</p>
                    </div>
                </a>
            </li>


            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","Countries")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/Country.png" class="img-fluid" style="max-width: 150px;" />
                        <p class="title-item">کشور ها</p>
                    </div>
                </a>
            </li>


            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","Group")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/Group.png" class="img-fluid" style="max-width: 150px;" />
                        <p class="title-item">دسته بندی</p>
                    </div>
                </a>
            </li>

            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","Albums")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/Albums.png" class="img-fluid" style="max-width: 150px;" />
                        <p class="title-item">آلبوم ها</p>
                    </div>
                </a>
            </li>


            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","Padcasts")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/Padcast.png" class="img-fluid" style="max-width: 150px;" />
                        <p class="title-item">پاد کست ها</p>
                    </div>
                </a>
            </li>

            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","Singers")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/Singer.png" class="img-fluid" style="max-width: 150px;" />
                        <p class="title-item">هنرمندان</p>
                    </div>
                </a>
            </li>

            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","Songs")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/Song.png" class="img-fluid" style="max-width: 150px;" />
                        <p class="title-item">آهنگ ها</p>
                    </div>
                </a>
            </li>

            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","PlayLists")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/PlayList.png" class="img-fluid" style="max-width: 150px;" />
                        <p class="title-item">پلی لیست</p>
                    </div>
                </a>
            </li>

            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("CreatePlayListSongs","PlayLists")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/PlayList Add.png" class="img-fluid " style="max-width: 150px;" />
                        <p class="title-item">طراحی پلی لیست</p>
                    </div>
                </a>
            </li>

            <li class="list-group-item aside-list-item rounded-4">
                <a href="@Url.Action("Index","Users")">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/Photos/ICO/User.png" class="img-fluid " style="max-width: 150px;" />
                        <p class="title-item">کاربران</p>
                    </div>
                </a>
            </li>


        </ul>
    </aside>

    <section id="body" class="container-fluid body-content col-12 mt-5 pt-3">
        @RenderBody()
    </section>

    <!-- Modal content -->
    <div id="modal-shadow">
        <div id="modal-tab">

            <div id="modal-header">
                <p id="modal-title">Title</p>
                <span id="close-X">&times;</span>
            </div>

            <div id="modal-body">
                body
            </div>

            <div id="modal-footer">
            </div>

        </div>
    </div>
    <!-- End Modal -->


    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/myScript/Admin_Script.js" defer></script>
    @RenderSection("scripts", required: false)
</body>
</html>