@model DAL.Singer

@{
    ViewBag.Title = "Delete";
}

<h5 class="text-danger">برای حذف این مورد مطمیین هستید؟</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
            @Html.DisplayFor(model => model.Name)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate) :
            @Html.DisplayFor(model => model.CreateDate)
        </dt>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="حذف" class="btn btn-danger w-100" />
        </div>
    }
</div>
