@model DAL.Singer

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SingerId)

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.SingerName, htmlAttributes: new { @class = "lbl control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.SingerName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SingerName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-row mt-1">
        @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "lbl control-label col-3 text-center mt-1" })
        <div class="col-9">
            @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group d-flex flex-column justify-content-center align-items-center mt-2">
        <div class="col-md-offset-2 col-md-10 text-center">
            <input type="submit" value="ثبت ویرایش" class="btn btn-warning w-100" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
