@model IEnumerable<DAL.ViewModels.ViewGroup>
@{
    string list = "";
}
<div class="container-fluid">
    @foreach (var item in Model)
    {
        if (list != item.GroupName)
        {
            if (item.Songs.Count > 0)
            {
                <div class="row group" data-id="@item.GroupId">
                    <div class="d-flex flex-row justify-content-between w-100">
                        <div class="GroupTitleModal">
                            <h6>@item.GroupName</h6>
                            <a href="#"><i class="fa fa-play mt-1" title="پخش"></i></a>
                        </div>

                        <div class="d-flex flex-row">
                            <h6 class="groupTitle">تعداد بازید : @item.Visit</h6>
                            <h6 class="groupTitle">امتیاز : @item.Score</h6>
                        </div>
                    </div>
                    <div class="group-list">
                        @foreach (var i in item.Songs)
                        {
                            <div class="group-item">
                                <img src="~/Files/Photos/@i.Picture" class="img-fluid">
                                <span class="group-song">@i.SongName</span>
                            </div>
                        }
                    </div>
                </div>
            }
        }

        list = item.GroupName;
    }
</div>