@model IEnumerable<DAL.ViewSong>

<div class="container-fluid">
    <div class="d-flex flex-row flex-wrap justify-content-between p-2">
        @foreach (var item in Model)
            {
            <div class="Padcast-Items">
                <a class="d-flex flex-column justify-content-between" href="@Url.Action("PlaySong","Section",new {id=item.SongId})">
                    <img src="~/Files/Photos/@item.Picture" class="img-fluid shadow rounded-2" style="height: 100px;" />
                    <span class="mt-3 py-2 bg-dark bg-gradient text-warning rounded-5 w-100">@item.SongName</span>
                    <span class="mt-1 bg-dark bg-gradient text-light rounded-5 w-100">@item.Album.Singer.Country.CountryName</span>
                    <span class="mt-1 bg-dark bg-gradient text-light rounded-5 w-100">امتیاز » @item.Score</span>
                    <span class="mt-1 bg-dark bg-gradient text-light rounded-5 w-100">تعداد بازدید » @item.Visit</span>
                </a>
            </div>
            }
    </div>
</div>
