@model DAL.Padcast

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-danger">آیا اطلاعات مورد نظر را حذف میکنید؟</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country.CountryName) :
            @Html.DisplayFor(model => model.Country.CountryName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PadcastName) :
            @Html.DisplayFor(model => model.PadcastName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Score) :
            @Html.DisplayFor(model => model.Score)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Visit) :
            @Html.DisplayFor(model => model.Visit)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Type) :
            @Html.DisplayFor(model => model.Type)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.AddressFile) :
            @Html.DisplayFor(model => model.AddressFile)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate) :
            @Html.DisplayFor(model => model.CreateDate)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Picture)
            <img src="~/Files/Photos/@Model.Picture" class="img-fluid shadow rounded-1" />
        </dt>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="حذف" class="btn btn-danger w-100" />
    }
</div>
